<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Set character encoding and viewport for responsive design -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Set the title dynamically based on the view -->
	<title>@ViewData["Title"]</title>

	<!-- Link to Bootstrap CSS and custom site.css -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
	<!-- Header navigation bar -->
	<header>
		<navbar>
			<!-- Link to the Home page -->
			<a id="home-button" class="navbar-buttons" asp-action="Index" asp-controller="Home">Home</a>
			<!-- Link to the Inventory (Browse) page -->
			<a id="browse-button" class="navbar-buttons" asp-action="Index" asp-controller="Inventory">Browse</a>
			<!-- Link to the Trade-in page -->
			<a id="tradein-button" class="navbar-buttons" asp-action="Create" asp-controller="TradeIn">Trade-In</a>
		</navbar>
	</header>

	<!-- Render the main content of the view -->
	@RenderBody()

	<!-- Footer with copyright information and privacy policy link -->
	<footer class="footer">
		Magix © 2023 <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a>
	</footer>

	<!-- Include jQuery, Bootstrap's JavaScript bundle, and custom site.js -->
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/validation.js"></script>
	<script type="module" src="~/js/addtotradein.js"></script>
	@*<script type="module" src="~/js/confirmbutton.js"></script>*@
	<script src="~/js/site.js" asp-append-version="true"></script>
	@* Additional scripts section *@
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>