@{
	ViewData["Title"] = "Welcome to Magix!";
}

<div class="home-bg-container">

	<!-- Alpha wrapper that defines 5 rows -->
	<div class="home-alpha-wrapper">
		
		<!-- Row 1: Welcome Text Image -->
		<div class="welcome-text-wrapper">
			<img src="/Images/welcome_text.png" alt="Magix Welcome Text">
		</div>

		<!-- Row 2: Featured Text Image -->
		<div class="featured-text-wrapper">
			<img src="/Images/featured_text.png" alt="Featured Text">
		</div>

		<!-- Row 3: Featured Images -->
		<div class="featured-images-wrapper">
			<div class="featured-images-cardA"><img src="/Images/dog_placeholder.png" alt="Dog Card"></div>
			<div class="featured-images-cardB"><img src="/Images/dinosaur_placeholder.png" alt="Dinosaur Card"></div>
		</div>

		<!-- Row 4: New Addition Text Image -->
		<div class="new-additions-text-wrapper">
			<img src="/Images/new_additions_text.png" alt="New Additions Text">
		</div>

		<!-- Row 5: New Card Additions -->
		<div class="home-cards-wrapper">
			<!-- Newly added cards displayed in a row of 8 -->
			<div class="home-cards"><img src="/Images/dog_placeholder.png" alt="Card 1"></div>
			<div class="home-cards"><img src="/Images/dinosaur_placeholder.png" alt="Card 2"></div>
			<div class="home-cards"><img src="/Images/dog_placeholder.png" alt="Card 3"></div>
			<div class="home-cards"><img src="/Images/dinosaur_placeholder.png" alt="Card 4"></div>
			<div class="home-cards"><img src="/Images/dog_placeholder.png" alt="Card 5"></div>
			<div class="home-cards"><img src="/Images/dinosaur_placeholder.png" alt="Card 6"></div>
			<div class="home-cards"><img src="/Images/dog_placeholder.png" alt="Card 7"></div>
			<div class="home-cards"><img src="/Images/dinosaur_placeholder.png" alt="Card 8"></div>
		</div>
	</div>
</div>
